.asher{
    background-color: burlywood
    color hotpink
}
.emma{
    background-color: brown;
}
.ella{
    background-color: aqua;
}
#wil{
    background-color: aquamarine;
}
.faith{
    text-align: center;
}
.josh {
    width: 100px;
    margin: auto;
}

.jay {
    width: 250px;
    height: 60px;
    padding: 15px;
    border: 10px solid red;
    margin: 0;
}

* {
    /* box-sizing: border-box; */
}